<div class="hero-unit">
  <h1>Welcome to Pintercise!</h1>
  <p>
    You've found the home page for Pintercise (a learning exercise building a fake Pinterest).
    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  </p>
  <p>
    <%= link_to "Sign up Now", '', class: "btn btn-primary btn-large" %>
  </p>
</div>